@keyframes pageTurn {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  .page-turn {
    animation: pageTurn 0.5s ease-in-out;
  }
  
  .scrollable-area {
    overflow-y: auto;
    max-height: calc(100vh - 73px); /* Adjust the height as needed */
  }
  
  .highlight {
    background-color: yellow; /* Change this to your desired highlight color */
  }
  
  .fixed {
    position: fixed;
  }
  
  .bottom-4 {
    bottom: 1rem;
  }
  
  .right-4 {
    right: 1rem;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .back-button span {
    margin-left: 0.5rem;
  }

  .search-bar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .search-bar.open {
    max-height: 200px; /* Adjust this value based on the height of your search bar */
  }
  
.text-xss{
  font-size: 0.75rem;
  font-family: "Unica";
}

.sometext{
  font-family: 'Unica';
  font-size: 0.875rem;
}



.responsive-img {
  width: 100%;
  height: auto;
}

@media (min-width: 640px) {
  .responsive-img {
    height: 30vh; /* Adjust this value as needed */
  }
}

@media (min-width: 768px) {
  .responsive-img {
    height: 40vh; /* Adjust this value as needed */
  }
}

@media (min-width: 1024px) {
  .responsive-img {
    height: 50vh; /* Adjust this value as needed */
  }
}
